.container {
  width: 70%
}

.center{
  display:block;
  margin:auto;
  width:13%;
}

.centerButton{
  display:block;
  margin:auto;
  padding: 5px;
  width:40%;
}

.App-logo{
  width: 20%;
  height: 25%;
  display:block;
  margin:auto;
}
